<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kevin.navigator.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.kevin.navigator.Perspective"
            id="org.kevin.navigetor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="navigator.CustomNavigator"
            id="example.view"
            name="View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding 
            viewerId="example.view">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
          </includes>
       </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding 
            viewerId="example.view">
          <includes>
       	     <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />		       	      
          </includes>
       </viewerActionBinding>
   </extension>

</plugin>
